.checkboxBlock{
    display: flex;
    align-items: center;
    font-size: 16px;
}
input[type="checkbox"] {
    display: none;
}
.fakeCheckbox {
    display: block;
    border: 1px solid #DBE2EA;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 4px;
    background: #FFFFFF;
    height: 28px;
    width: 28px;
    cursor: pointer;
}
.checkbox:checked + .fakeCheckbox {
    background-image: url('./Check.svg');
    background-repeat: no-repeat;
    background-position: center center;
}
a {
    text-decoration: none;
    color: #0880AE;
}