.input {
    padding: 16px;
    border: 1px solid #DBE2EA;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0);
    transition: .17s linear;
    background: none;
}
.input::placeholder {
    color: #7C9CBF;
    font-size: 16px;
}
.input:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #4d90f0;
}
.input:focus::placeholder {
    color: transparent;
}