.input {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0);
    transition: .17s linear;
    background: none;
}
.input:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #4d90f0;
}
.input:focus::placeholder {
    color: transparent;
}