.button{
    background: none;
    padding: 18px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #0880AE;
    font-weight: 500;
    color: #EBF4F8;
    width: 100%;
}
.button:disabled {
    background: #DBE2EA;
    color: #B1B5BF;
    cursor: not-allowed;
}
.button:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
}
.button:active {
    outline: #2C2738;
    border: 2px solid #2C2738;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
}