.button{
    background: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #1d68f8;
    font-weight: 500;
    color: white;
}
.button:disabled {
    background: #535456;
    cursor: not-allowed;
}